---
layout: index-page
title: Michael Cattell – A highly experienced interaction designer, UI developer, and design thinker based in Leeds, UK.
excerpt: Mikey Cattell is a multi-disciplinary product and interaction designer based in Leeds. 
date: '2020-22-08 19:00:00'
---

    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
<div class="marginbottom--xxxl"></div>
<section>
    <div class="wrapper">
      <h1 class="ralph">I am a multi-disciplinary designer, helping people design apps, websites and design systems</h1>
        <div class="marginbottom--xxxl"></div>
      <div class="" style="position: relative; max-width: 722px">      
        <div class="single-item">
          <div><a href="fantasyfootball-2020.html" title="view my case study on for sky sports fantasyfootball"><img src="assets/temp/fantasyfootball.jpg" alt="image of sky sports fantasy football app"></a></div>
          <div><a href="benefitfraud.html" title="view my case study on my DWP benefit fraud"><img src="assets/temp/reportingbenefit-fraud.jpg" alt="image of my work for DWP Reporting benefit fraud"></a></div>
          <div><a href="work.html" title="view my work page"><img src="assets/temp/properties.jpg" alt="Image of property hunter app"></a></div>
          <div><a href="mad-2020.html" title="view my case study on MAD restaurants"><img src="assets/temp/madlimited-restaurants.jpg" alt="Image of my work for MAD restaurants"></a></div>
        </div> 
      </div>
            
       <div class="marginbottom--80"></div>
        
        <div class="grid-third">
          <p class="subheading--home">A LITTLE ABOUT ME</p>
        </div>
        <div class="grid-six-tenths leftpusher">
          <p class="font24">Aside from talking about coffee, I’m a designer interested in building experiences that enrich people’s lives and leave the world just a little bit better than before.</p>

          <p>At current, you’ll find me doing this at the Department for Work and Pensions (GOV.UK), helping multi-disciplinary teams produce purposeful solutions that scale with design thinking, product experience, and business awareness. All of this is done by leaning heavily on user needs, storytelling, and leading the creative direction.</p>
          
          <p class="font24"><a href="about.html" title="click to read more about me">Learn more about me</a></p>
        </div>
      
      <div class="marginbottom--xxxl"></div>

      <div class="grid-half">
        <img src="assets/temp/profile--homes.jpg" style="float: right;padding-right: 30px;">
      </div> 

      <div class="grid-half leftpusher">
        <p class="subheading--home-alt leftpusher30 paddingtop-80">What you gonna get</p>
        <ul class="font20 leftpusher30" style="line-height: 36px;">
          <li>Interaction Design</li>
          <li>Visual Design (UI)</li>
          <li>User Experience (UX) Design</li>
          <li>Prototyping</li>
          <li>Front-End Development</li>
          <li>Qualitative Research</li>
          <li>User Testing</li>
          <li>Product Strategy</li>
          <li>Creative & Technical Writing</li>
          <li>Mentoring </li>
          <li>Leadership of team</li>
        </ul>

      </div> 

    </div>       

      <div class="marginbottom--80"></div>
      <div class="wrapper">
        <p style="font-size: 32px;">Current and past projects</p>  
      </div>

            <div class="centerss">
              <div><a href="benefitfraud.html" title="view my case study on my DWP benefit fraud"><img src="assets/slick--dwp-reportfraud.jpg" alt=""><p>GOV.UK</p></a></div>
            <div><a href="fantasyfootball-2020.html" title="view my case study on sky sports fantasy football"><img src="assets/slick--fantasyfootball.jpg" alt=""><p>Sky Sports Fantasy Football</p></a></div>
              <div><a href="remingtonmancave-2020.html" title="view my case study on remington mancave"><img src="assets/slick--mancave.jpg" alt=""><p>Russell Hobbs</p></a></div>
              <div><a href="peter-worth-2020.html" title="view my case study on Peter Worth"><img src="assets/slick--peterworth.jpg" alt=""><p>Peter Worth</p></a></div>
            </div> 

        <div class="marginbottom--m"></div>

        <div class="wrapper">
          <div class="grid-three-fourths">
            <p>I’ve lead teams at Sky Bet, designed services at GOV.UK, helped millions play fantasy football and Super 6 for Sky Sport, assisted in rebranding Russell Hobbs, coded and designed with Premier Food Safety, and worked on major brands like Argos, Jet2, British Airways, Manchester City, ITV and charities like Forward Leeds and Mount Pleasant Kennels.</p>
            <p>I’ve also worked with multiple startups, helping launch products as lead designer, and assisting my wife to co-run her own company <a href="https://www.bobbinandbumble.com/" title="click here to see bobbin and bumble">Bobbin and Bumble</a>.</p>
            <p><a href="about.html" title="click to read more about me">Why not check out more of my work?</a></p>      
          </div>
        </div>

        </div>
    </div>
</section>

<div class="marginbottom--80"></div>
{% include blogandsocial.html %}
<div class="marginbottom--80"></div>
<section>
    <div class="wrapper">
        <div class="grid-full testimonials">
            <p>“Michael has amazing ability, both as a front-end developer and user experience designer.   The product was unquestionably better for this collaborative approach and for him always challenging the team to better meet user needs.  I whole-heartedly recommend him to any organisation that values user-centred and results driven design.”</p>
            <p class="name">I worked with TOM SIMCOX at DWP, where we worked on the Benefit Fraud project.</p>
        </div>
    </div>
</section>

{% include whoworkedwith.html %} 

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>


<script>
$('.single-item').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
});
</script>


<script>
    $('.variable-width').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  centerMode: true,
  variableWidth: true,
});
</script>

<script>
    $('.centerss').slick({
  dots: false,
  infinite: true,
  speed: 300,
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '50px',
        slidesToShow: 1
      }
    }
  ]
});
</script>

<div class="marginbottom--xl"></div>
      
