<div class="grid-half leftpusher">
    <div">
    <h3 class="mikey">My recent blog posts, where I like to share things I’ve learned, talk about my past week, or share what the heck I've eaten this week.</h3>
    <ul class="blogposts">
        {% for post in site.posts limit: 5 %}
        <li>
            <p>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
                <span class="page-meta">{{ post.date | date: "%-d %B %Y" }}</span>
            </p>
        </li>
        {% endfor %}
    </ul>
    <p><a href="/all-posts.html" class="more-link">View all blog posts &rarr;</a></p>
    </div>
</div>