<footer class="site-bookend site-footer">

    <div class="wrapper">
        <div class="grid-half">
            <p><a href="#top" title="take me to the top of the page">Wanna ride to the top?</a></p>
            <h4 style="font-size: 40px;">Let’s work together
                on your next project.</h4>
            <p style="font-size: 18px;">Currently unavailable.<br>
            Interaction Designer at DEFRA <strong>till November 2023</strong></p>    
            
            <ul class="capabilities">
                <li>Email address<br><a href="">hello@michaelcattell.com</a></li>
                <li>Phone number<br><a href="">+44 (0)7463966691</a></li>
            </ul>

            <p> &copy; Copyright © 2016 MJRC ltd. All rights reserved.<br>Registered in England & Wales.</p>
            <p><a href="">Twitter</a> / <a href="">Dribbble</a> / <a href="">LinkedIn</a></p>
            <p>Providing web design, front-end development and support to all businesses, small or large — all designed & built by MJRC Limited.</p>
        </div>
              
        <div class="clearfix"></div>
    </div>

</footer>

<script type="text/javascript">
    $('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });

</script>
