<header class="site-header">
    <div class="wrapper">
        
        <div class="grid-fourth">
            <div class="site-logo" name="top">
                <a href="https://michaelcattell.com/" title="take me to the home page" style="top: 27px; left: 0px; position: absolute; vertical-align: middle;"><img alt="mikey cattell logo" class="float-left" style="padding-right: 0;" src="https://michaelcattell.com/assets/mc-logo.png" height="51" width="67">
               </a>
            </div>
        </div>

        <div class="grid-half">
            <div class="hideformobile-nav">
                <nav class="main-menu">
                    <ul>
                        <li><a href="/" title="return to the home page">Home</a></li>
                        <li><a href="/about.html" title="Read more about me">About</a></li>
                        <li><a href="/work.html" title="See my previous work for both public and private sector">Work</a></li>
                        <!--<li><a href="/current-cv.html" title="Read about my work experience">CV</a></li>-->
                        <li><a href="/current.html" title="See all my blog posts">Current</a></li>
                        <li><a href="/past.html" title="See all my blog posts">Past</a></li>
                        <li><a href="/all-posts.html" title="See all my blog posts">Blog</a></li>
                        <!--<li><a href="/contact.html">Get in touch</a></li>-->
                    </ul>
                </nav>
            </div>
        </div>            

        <div class="grid-fourth">
            <p style="font-size: 20px; padding-top: 20px;"><a href="mailto:hello@michaelcattell.com" title="email me at hello@michaelcattell.com">hello@michaelcattell.com</a>
            </p>
        </div>                           

                <!-- mobile nav-->
                <div class="button_container hidefordesktop-nav" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                <div class="overlay" id="overlay">
                    <nav class="overlay-menu">
                    <ul>
                        <li><a class="noborder" href="/" title="return to the home page">Home</a></li>
                        <li><a class="noborder" href="/about.html" title="Read more about me">About</a></li>
                        <li><a class="noborder" href="/work.html" title="See my previous work for both public and private sector">Work</a></li>
                        <!--<li><a href="/current-cv.html" title="Read about my work experience">CV</a></li>-->
                        <li><a class="noborder" href="/current.html" title="See what im up to right now">Current</a></li>
                        <li><a class="noborder" href="/past.html" title="What I have done in the past">Past</a></li>
                        <li><a class="noborder" href="/all-posts.html" title="See all my blog posts">Blog</a></li>
                        <!--<li><a href="/contact.html">Get in touch</a></li>-->
                                            
                    </ul>

                    </nav>
                
                </div>

                <!--<div class="grid-full">
                    <p><span style="background: white; padding: 10px; font-size: 18px; color: black;">Currently on contract at <strong>Hippo Digital</strong> as Principal UX designer</span></p>
                </div>-->

        </div>
    </header>   
    
    <div class="marginbottom--xxxl hidefor640"></div>