    <header class="site-header">
        <div class="wrapper">
            
            <div class="grid-fourth">
                <div class="site-logo" name="top">
                    <img alt="NHS logo" class="float-left" style="padding-right: 0;" src="assets/MC-logo.svg" height="51" width="67">
                    <a href="https://michaelcattell.com/" title="take me to the home page" style="top: 9px; right: 81px; position: absolute; vertical-align: middle;"><strong>Mikey<br>Cattell</strong></a>
                </div>
            </div>

            <div class="grid-half">
                <div class="hideformobile-nav">
                    <nav class="main-menu">
                        <ul>
                            <li><a href="/" title="return to the home page">Home</a></li>
                            <li><a href="/about.html" title="Read more about me">About</a></li>
                            <li><a href="/work.html" title="See my previous work for both public and private sector">Work</a></li>
                            <!--<li><a href="/current-cv.html" title="Read about my work experience">CV</a></li>-->
                            <li><a href="/all-posts.html" title="See all my blog posts">Blog</a></li>
                            <li><a href="/contact.html">Get in touch</a></li>
                        </ul>
                    </nav>
                </div>
            </div>            

            <div class="grid-fourth">
                <p style="font-size: 20px; padding-top: 20px;"><a href="mailto:hello@michaelcattell.com" title="email me at hello@michaelcattell.com">hello@michaelcattell.com</a>
                </p>
            </div>            

            <!--<div class="grid-four-tenths ">
                <p style="font-size: 18px;">Currently unavailable.<br>
                    Interaction Designer at DEFRA <strong>till November 2023</strong></p>

            </div>-->


            <!--<div class="grid-third">
                <p style="font-size: 20px;"><a href="mailto:hello@michaelcattell.com" title="email me at hello@michaelcattell.com">hello@michaelcattell.com</a></p>
            </div>            

                <div class="grid-half">
                    <a class="getintouch" href="https://michaelcattell.com/" title="take me to the home page">Hello@michaelcattell.com</a>
                    <div class="marginbottom--m"></div>
                    <div class="header-socials">
                        <a href="http://instagram.com/mikeycattell/">Instagram</a> | <a href="https://twitter.com/mikeycattell">Twitter</a> | <a href="https://mikeycattell.dribbble.com/">Dribbble</a> | <a href="https://www.linkedin.com/in/michaelcattell/">LinkedIn</a>
                    </div>  
                -->                  

                    <!-- mobile nav-->
                    <div class="button_container hidefordesktop-nav" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
                    <div class="overlay" id="overlay">
                        <nav class="overlay-menu">
                        <ul>
                            <li><a class="noborder" href="/about.html" title="Read more about me">About</a></li>
                            <li><a class="noborder" href="/work.html" title="See my previous work for both public and private sector">Work</a></li>
                            <li><a href="/current-cv.html" title="Read about my work experience">CV</a></li>
                            <li><a class="noborder" href="/all-posts.html" title="See all my blog posts">Blog</a></li>
                            <li><a class="noborder" href="/contact.html" title="Get in touch to talk more">Get in touch</a></li>
                            <h3 class="mikey">RECENT POST</h3>
                            <ul>
                                {% for post in site.posts limit: 1 %}
                                <li>
                                    <p class="font16"><a class="noborder post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
                                </li>
                                {% endfor %}

                            </ul>                        
                        </ul>

                        </nav>
                    
                    </div>

                    <!--<div class="grid-full">
                        <p><span style="background: white; padding: 10px; font-size: 18px; color: black;">Currently on contract at <strong>Hippo Digital</strong> as Principal UX designer</span></p>
                    </div>-->

            </div>
        </header>   
        
        <div class="marginbottom--xxxl hidefor640"></div>