<section id="whoworkedwith">
  <div class="wrapper">
  <h3 class="emma">I’ve worked with...</h3>

    <div id="work-grid">
      <div class="work-item">
        <img src="assets/logos/govuk--logo.jpg" alt="gov.">
      </div>
        <div class="work-item">
        <img src="assets/logos/argos--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/mcfc--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/skysports--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/jet2--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/itv--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/remington--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/russellhobbs--logo.jpg" alt="gov.">
      </div>     
      <div class="work-item">
        <img src="assets/logos/premierfoodsafety--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/skybet--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/britishairways--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/emble--logo.jpg" alt="gov.">
      </div>                                          
        
    </div>
  </div>
</section>
