<section id="front-4">
  <div class="wrapper">
  <h3 class="emma">I’ve worked with...</h3>

    <div id="work-grid">
      <div class="work-item">
        <img src="assets/logos/govuk--logo.jpg" alt="gov.">
      </div>
        <div class="work-item">
        <img src="assets/logos/argos--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/mcfc--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/skysports--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/jet2--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/itv--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/remington--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/russellhobbs--logo.jpg" alt="gov.">
      </div>     
      <div class="work-item">
        <img src="assets/logos/premierfoodsafety--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/skybet--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/britishairways--logo.jpg" alt="gov.">
      </div>
      <div class="work-item">
        <img src="assets/logos/emble--logo.jpg" alt="gov.">
      </div>                                          
        
    </div>
  </div>
</section>

<style type="text/css">
        #front-4 {
        margin: 40px 0;
    }
    #front-4 #work-grid {     width: 75%;
        margin: 0rem auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }      

    #front-4 .work-item {
        width: 25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    @media screen and (max-width: 650px) {
        #front-4 #work-grid {
            width: 100%;
            margin: 3rem auto;
        }
        #front-4 .work-item {
            width: 33.33%;
        }
        #front-4 .work-item:last-of-type {
            margin: 0 auto;
        }

    }    

</style>