<div class="grid-two-thirds col">
  <div class="col">
    <a href="super6.html" title="Click here to see my super 6 case study"><img src="assets/2019-super6-thumb.jpg"></a>
  </div>
</div>
<div class="grid-third">
  <p><a href="super6.html" title="Click here to see my super 6 case study">Sky Sports Super 6</a></p>

  <p>Working with Sky on one of the country’s most popular Fantasy Football game and alongside Sky Sports was a challenge I could not turn down.</p>
  <br>
  <p><a href="super6.html" title="Click here to see my super 6 case study">Case Study </a></p>
  <p><a href="https://super6.skysports.com/" title="click here to visit super 6 website">Website</a></p>
</div>
<div class="marginbottom--xxxl"></div>

<div class="grid-two-thirds col">
  <div class="col">
    <a href="benefitfraud.html" title="Click here to see my DWP benefit fraud report case study"><img src="assets/2019-dwp-thumb.jpg"></a>
  </div>
</div>
<div class="grid-third">
  <p><a href="">GOV.UK - Report Benefit Fraud</a></p>

  <p>Working with Sky on one of the country’s most popular Fantasy Football game and alongside Sky Sports was a challenge I could not turn down.</p>
  <br>
  <p><a href="benefitfraud.html" title="click here to see my DWP benefit fraud report case study">Case Study </a></p>
  <p><a href="https://www.gov.uk/report-benefit-fraud" title="click here to visit DWP report benefit fraud website">Website</a></p>
</div>