
/*------------------------------------*\
	$TYPE
\*------------------------------------*/

/*--type variables--*/


/* rem sizing function */
@function findrem($base, $pixel){
	@return $pixel $base;
}

@mixin font-rempx ($value) {
	font-size: findrem($font-size, $value)rem;
	font-size: #{$value}px;
}

body{
	color: $color-black;
	font-family: $font-primary;
	font-weight: $font-weight;
	line-height: 1.5rem;
}


/*--- HEADINGS ---*/
.alpha {
	@include font-rempx(40);
    text-transform: none;
    padding-bottom: calc-em(0);
}
.ralph {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 60px;
	@include font-rempx(114);
	line-height: 118px;
	z-index: 2;
	font-weight: normal;
	position: relative;
}
.robyn {
	margin-top: 0;
	margin-left: 0px;
	margin-bottom: 60px;
	@include font-rempx(144);
	line-height: 148px;
}
.emma {
	margin-top: 0;
	margin-left: 0px;
	margin-bottom: 34px;
	@include font-rempx(40);
	line-height: 50px;
	font-family: 'sourcebold';
}
.mikey {
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 16px;
	@include font-rempx(22);
	line-height: 30px;
	font-family: 'sourcebold';	
}
.subheader--home {
	font-size: 48px; margin-bottom: 0px; padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
 	font-weight: normal;
 	margin-bottom: 1em;
 	word-wrap: break-word;
 }

 h1,
 .h1 {
 	 	
 }

 h2,
 .h2 {
 	font-size: 32px;
 }

 h3,
 .h3 {
 	font-size: 20px;
 }

 h4, h5, h6,
 .h4, .h5, .h6 {
 	font-size: 15px;
 }

 h4,
 .h4 {
 	text-transform: uppercase;
 }

.font32 {  @include font-rempx(32); }
.font24 {  @include font-rempx(24); }

.page-meta {  @include font-rempx(18); color: #777; }

@font-face {
    font-family: 'sourcebold';
    src: url('../assets/fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sourcereg';
    src: url('../assets/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}
