
/*------------------------------------*\
	$TYPE
\*------------------------------------*/

/*--type variables--*/


/* rem sizing function */
@function findrem($base, $pixel){
	@return $pixel $base;
}

@mixin font-rempx ($value) {
	font-size: findrem($font-size, $value)rem;
	font-size: #{$value}px;
}


/*--- HEADINGS ---*/
.ralph {
	font-size: 64px; line-height: 77px;margin-bottom: 0; padding-left: 0%;margin-top: 20px; position: relative; top: 0px; padding-left: 0px; max-width: 900px; font-family: 'objectsans-bold';
}
.ralphpuppy {
	margin-top: 0;
	margin-left: 0;
 	margin-bottom: 0px;
	@include font-rempx(54);
	line-height: 67px;
	font-family: 'objectsans-bold';
}
.robyn {
	margin-top: 0;
	margin-left: 0px;
	margin-bottom: 0px;
	@include font-rempx(34);
	line-height: 47px;
}
.emma {
	margin-top: 0;
	margin-left: 0px;
	margin-bottom: 26px;
	@include font-rempx(40);
	line-height: 53px;
	font-family: 'objectsans-bold';
}
.mikey {
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 16px;
	@include font-rempx(20);
	line-height: 30px;
	font-family: 'objectsans-bold';
}

.heavyslanted-mikey {
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 16px;
	@include font-rempx(20);
	line-height: 30px;
	font-family: 'objectsans-heavyslanted';
}


.workingheader {
	font-size: 50px; line-height: 68px;
}
.subheader--home {
	font-size: 48px; margin-bottom: 0px; padding-bottom: 0;
}
.bigtosmall { padding: 0px 0 80px; font-size: 40px; line-height: 54px; position: relative;z-index: 15; }

h1, h2, h3, h4, h5, h6 {
 	font-weight: normal;
 	margin-bottom: 1em;
 	word-wrap: break-word;
 }

 h1,
 .h1 {
 	 	z-index: 2; position: relative;
 }

 h2,
 .h2 {
 	font-size: 32px;
 }

 h3,
 .h3 {
 	font-size: 20px;
 }

 h4, h5, h6,
 .h4, .h5, .h6 {
 	font-size: 15px;
 }

 h4,
 .h4 {
 	
 }

.font16 {  @include font-rempx(16); }
.font18 {  @include font-rempx(18); }
.font20 {  @include font-rempx(20); }
.font24 {  @include font-rempx(24); line-height: 40px; }
.font32 {  @include font-rempx(32); }
.font30 {  @include font-rempx(30); }
.font24 {  @include font-rempx(24); }

.page-meta {  @include font-rempx(18); color: #000; }


@font-face {
    font-family: 'objectsans-bold';
    src: url('../assets/fonts/objectsans-heavy-webfont.woff') format('woff2'),
         url('../assets/fonts/objectsans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'objectsans-regular';
    src: url('../assets/fonts/objectsans-regular-webfont.woff') format('woff2'),
         url('../assets/fonts/objectsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'objectsans-slant';
    src: url('../assets/fonts/objectsans-slanted-webfont.woff') format('woff2'),
         url('../assets/fonts/objectsans-slanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'objectsans-heavyslanted';
    src: url('../assets/fonts/objectsans-heavyslanted-webfont.woff') format('woff2'),
         url('../assets/fonts/objectsans-heavyslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}


.fontsize16 { font-size: 16px; }
.fontsize20 { font-size: 20px; line-height: 30px }