/* Ui layout only */

body{ background: #fff;  }

.col { display: block; float: left; }
.wrapper { max-width: 1100px; margin: 0 auto; padding: 0 10px;
	@extend %clearfix;
}
section { z-index: 2; position: relative; }

.subtext { z-index: 2; position: relative; }  
.noborder { border: 0; box-shadow: inset 0 0px 0 0 #F9CE21; } 

.page-content { max-width: 700px; margin: 0 auto; }
ul li { margin-left: 5px; }

ul { margin-left: 18px; }

.main-menu ul { list-style: none; }
.main-menu ul li {  }

ul.blogposts { list-style: none; margin-left: 0; }
ul.blogposts li { margin-left: 0; font-size: 20px; padding-bottom: 5px; }

ul.capabilities { list-style: none; margin-left: 0; }
ul.capabilities li { margin-left: 0;  line-height: 30px; padding-bottom: 5px; }

ul.worklists { list-style: none; margin-left: 0; }
ul.worklists li { margin-left: 0; padding: 10px 0 0; font-size: 20px;}

strong { font-family: 'objectsans-bold';  }
em  { font-family: 'objectsans-slant';  }

.testimonials { padding: 30px 30px 20px; margin: 0 0 40px; text-align: left; border: 1px solid #f2f2f2; background: #fff; 
  p { font-size: 24px; }
  .name { font-size: 18px; }
}

/*--- LINKS ---*/

a,
a:visited { font-family: objectsans-bold; color: #000; text-decoration: none; word-wrap: break-word; border-bottom: 4px solid #000; }

a:focus,
a:active { color: $color-primary; text-decoration: none; }

a:hover { text-decoration: none; border-bottom:4px solid #666666;}

a img { border-bottom: 0px; }

header { padding: 64px 0 30px;
	.site-logo { float: left; font-family: objectsans-regular; font-size: 24px;
        a { color: #000; font-family: objectsans-regular; text-decoration: none; border: 0; box-shadow: inset 0 0px 0 0 #F9CE21; }
    }
    .site-nav-main { font-size: 16px; float: right; display: inline-block;
        a { font-weight: 700; color: #000; text-decoration: none; border: 0;  margin-left: 16px;
        }
    }
 }

.header-socials { float: right;  }
.header-socials a { box-shadow: inset 0 0 0px 0 #F9CE21; border-bottom: 0; }


footer { background: #FAFAFA; margin: 72px 0 0; padding: 48px 0 ; }
footer { position: relative; }
header.site-header {  }


.leftpushno { padding-left: 0%; }
.leftpusher { padding-left: 6%; }
.leftpusher30 { padding-left: 30px; }
.leftpusherhalf { padding-left: 30%; }

.paddingtop-80 { padding-top: 50px; }


// my past clients logos //

.client-logos {
    margin-bottom: .5rem;
}

.client-logo {
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

.client-logos {
    margin-left: -12px;
    margin-right: -12px;
    display: block;
    width: auto;
    overflow: hidden;
    padding-top: 1rem;
}

.client-logo svg {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}


.work-references { text-align: center; max-width: 420px; margin: 0 auto; }

.experience--list {  margin-top: 40px;font-size: 16px;
  .dates { display: block;font-size: 13px; color: #737373; margin-bottom: 40px; }
}

/* shame fixes - we all do it */

.clearfix { content: ""; display: table; clear: both; }
.col { padding-left: 0; padding-right: 10px; }


.cs--logo { padding-top: 250px; }

/* misc */

.paddingleft100 { padding-left: 80px; }

.marginbottom--xs { height: 8px; clear: both; }
.marginbottom--s { height: 16px; clear: both; }
.marginbottom--m { height: 24px; clear: both; }
.marginbottom--l { height: 32px; clear: both; }
.marginbottom--xl { height: 40px; clear: both; }
.marginbottom--xxl { height: 48px; clear: both; }
.marginbottom--xxxl { height: 56px; clear: both; }
.marginbottom--homescreen { height: 120px; background: #fff; position: absolute; bottom: 0; z-index: 10; width: 100%; }


.marginbottom--80 { height: 80px; clear: both; }

.fontgrey { color: #F6F6F6; }
.fontwhite { color: white; }

.post-link { margin-bottom: 16px; }

.animate_steps1 { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.animate_steps2 { -webkit-animation-delay: 1s; animation-delay: 1s;}
.animate_steps3 { -webkit-animation-delay: 1.5s; animation-delay:  1.5s; }
.animate_steps4 { -webkit-animation-delay: 2s; animation-delay: 2s ; }
.animate_steps5 { -webkit-animation-delay: 2.5s; animation-delay: 2.5s ; }
.animate_steps6 { -webkit-animation-delay: 3s; animation-delay: 3s ; }
.animate_steps7 { -webkit-animation-delay: 3.5s; animation-delay: 3.5s ; }
.animate_steps8 { -webkit-animation-delay: 4s; animation-delay: 4s ; }

// desktop nav //


.main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    overflow-y: auto;
    text-align: right;
}
.main-menu a, .main-menu .menu-close {
    padding: 6px 15px 0 0; 
    border-bottom: 0px;
}
.main-menu a {
    color: #000;
    font-weight: 700;
    box-shadow: inset 0 0px 0 0 #F9CE21;
    border-bottom: 0px;
}
.main-menu a.select {
    color: #000;
    font-weight: 700;
    border-bottom: 4px solid #000;
}

.main-menu a, .main-menu .menu-close {
    display: block;
    padding: 6px 15px 0 0;
    line-height: 24px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    border-bottom: 0px solid #d6d6d6;
}
    .main-menu ul {
    display: flex;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;}


/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: inset 0 0px 0 0 #F9CE21!important;
    border-bottom: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}



// mobile nav //

.button_container {
  position: fixed;
  top: 5%;
  right: 4%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; 
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #2B2B2B;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  border-radius: 10px;
}
.button_container span:nth-of-type(2) {
  top: 11px;
  width: 75%;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #F9CE21;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 3;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #000;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover { border-bottom: 0; }

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

