---
layout: index-page
---

<main id="main-content" class="post-page">

  <article
    class="post"
    itemscope
    itemtype="https://schema.org/BlogPosting"
  >

    <header class="post-header">
      <div class="post-container">

        <time
          datetime="{{ page.date | date_to_xmlschema }}"
          class="post-meta"
          itemprop="datePublished"
        >
          {{ page.date | date: "%-d %B %Y" }}
        </time>

        <h1 class="post-title" itemprop="headline">
          {{ page.title }}
        </h1>

      </div>
    </header>

    <div class="post-container">

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <nav class="post-navigation" aria-label="Blog post navigation">

        <div class="post-navigation__previous">
          {% if page.previous.url %}
            <span>← Previous post</span>
            <a href="{{ page.previous.url | relative_url }}">
              {{ page.previous.title }}
            </a>
          {% endif %}
        </div>

        <div class="post-navigation__next">
          {% if page.next.url %}
            <span>Next post →</span>
            <a href="{{ page.next.url | relative_url }}">
              {{ page.next.title }}
            </a>
          {% endif %}
        </div>

      </nav>

    </div>

  </article>

</main>