---
layout: default-post
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <div class="page-content">
      <div class="page-header">

        <time datetime="{{ page.date | date_to_xmlschema }}" class="page-meta">{{ page.date | date_to_long_string }}</time>
        <h1 class="emma">{{ page.title }}</h1>

      </div>
  
 
  {{ content }}

  <hr>

  <p style="display: none;">
    {% if page.tags %}
  Post tagged with: 
  {% for tag in page.tags %} <a href="tags.html/#{{ tag }}">{{ tag }}</a>
      <br><br>
  {% endfor %}
  {% endif %}
</p>

 



  <div class="CrossPageNavigation">
    <div class="grid-half col">
      <div class="CrossPageNavigationPrevious">
        {% if page.previous.url %}
        <strong>&larr; Previous post</strong><br />
          <a href="{{page.previous.url}}">{{page.previous.title}}</a>
        {% endif %}
      </div>
    </div>
    <div class="grid-half">
      <div class="CrossPageNavigationNext">
        {% if page.next.url %}
        <strong>Next post &rarr;</strong><br />
          <a href="{{page.next.url}}">{{page.next.title}}</a>
        {% endif %}
      </div>
    </div>
  </div>

</div>
</div>
</article>
